<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://www.gravatar.com/avatar/"+${hash} class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:if="${user}" th:text="${user.username}"></p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i> <span>图书管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/admin/booklist}"><i class="fa fa-circle-o"></i> 图书列表</a></li>
                    <li><a th:href="@{/admin/addbook}"><i class="fa fa-search"></i> 增加图书</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>用户管理</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/admin/listuser}"><i class="fa fa-circle-o"></i> 用户列表</a></li>
                    <li><a th:href="@{/admin/adduser}"><i class="fa fa-circle-o"></i> 增加用户</a></li>
                    <li><a th:href="@{/admin/blacklistuser}"><i class="fa fa-circle-o"></i> 用户黑名单</a></li>
                </ul>
            </li>
            <li><a th:href="@{/admin/borrowmanage}"><i class="fa fa-circle-o"></i> 借阅管理</a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
